extends ./layout.jade

block content
  .main-hero
    .icon-demo
      .leading-column
        i.fa.fa-plane
      .location-column
        span.location
    
    h1.brand Nomad Icon
    p.cta Where are you in the world now?

    if loggedIn
      a.btn(href='settings') Settings
    else
      a.btn(href='/auth/twitter' class="signup-btn") Get one

  .features
    .feature
      h2 Open source
      p
        | View and contribute to the source code on the 
        a(href="https://github.com/sungwoncho/nmdi.co" target="_blank") GitHub repo
        | .

    .feature
      h2 Color indicates stability
      p
        | The color changes to show how long you have stayed in the location.

        .sample
          img(src="/jon1/status.svg", alt="jon" class="sample-icon")
          span.legend Stable (more than 2 months)
        .sample
          img(src="/jane1/status.svg", alt="jane" class="sample-icon")
          span.legend Semi-stable (1~2 months)
        .sample
          img(src="/liz1/status.svg", alt="liz" class="sample-icon")
          span.legend Unstable (less than 1 month)


    .feature
      h2 Markdown/HTML embed
      p
        | Use either markdown or HTML to embed your icon anywhere. Or just get
        | a plain icon.

    .feature
      h2 Optionally point to your Twitter account
      p
        | Your icon links to your Twitter account if you choose to do so.
        | You can even track clicks (upcoming feature).
  
  script(src='/javascripts/vendor/typed.js')
  script(src='/javascripts/index.js')
