doctype html
html
  head
    title Nomad Icon
    link(rel="icon", href="/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
  body
    block content
    
    footer
      p
        | Maintained by 
        a(href="https://twitter.com/mikeswcho") @mikeswcho
        | . Talk to me if you want.
      p
        | Nomad Icon is a free software released under the 
        a(href="https://github.com/sungwoncho/nomad-icon/blob/master/LICENSE") LICENSE
        | .
