.main-hero {
  background-color: #EC5959;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  min-height: 450px;
  overflow: auto;

  .brand {
    font-size: 4em;
    margin-bottom: 0;
  }

  .cta {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .icon-demo {
    margin: 15em 0 0 0;
    width: 350px;
    height: 50px;
    display: inline-block;
    min-height: 50px;


    .leading-column {
      width: 80px;
      height: 100%;
      min-height: 50px;
      background-color: #332532;
      border-radius: 3px 0 0 3px;
      display: inline-block;
      float: left;

      .fa {
        font-size: 38px;
        margin-top: 7px;
      }
    }

    .location-column {
      display: inline-block;
      box-sizing: border-box;
      background-color: #77C4D3;
      border-radius: 0 3px 3px 0;
      width: 270px;
      height: 100%;
      font-size: 30px;
      text-align: center;
      padding-top: 5px;

      .location {
        display: inline-block;
      }
    }
  }
}

.features {
  @include outer-container;
  padding: 3em 0;

  .feature {
    @include span-columns(6);

    @include media($small-screen) {
      @include span-columns(8 of 12);
      @include shift(2);
      margin-bottom: 1em;
    }

    &:nth-child(2) {
      @include omega();
    }

    p {
      color: #6D6D6D;
    }

    .sample {
      margin: 0.5em 0;

      .legend {
        color: #6D6D6D;
        font-size: 0.9em;
        display: inline-block;
        margin-left: 20px;
      }
    }

    .sample-icon {
      vertical-align: middle;
    }
  }
}

footer {
  padding: 3em 0 1em;
  color: #848484;
  font-size: 0.9em;

  p {
    text-align: center;
  }
}
